.py-lg-5{
    padding-bottom: 0rem !important;
}

.s-500-750{
	height: 500px;
	width: 750px;
}

.pdb-1{
    	padding-bottom: 1em!important;
    }

@media screen and (min-width: 1280){
	.register-form{
		width: calc(100% - 765px);
	}

	.carousel-indicators{
    	width: 750px;
    	margin-left: 0;
    	margin-right: 0;
    }

    .pdb-1{
    	padding-bottom: 1em!important;
    }
}